<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andreea.eat_and_meet">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoggedProfile"
            android:label="Profilo"
            android:parentActivityName=".HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Registrazione"
            android:parentActivityName=".Login_activity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ShowEvent"
            android:label="Descrizione dell'evento"
            android:launchMode="singleTop"
            android:parentActivityName=".HomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditEvent"
            android:label="Modifica l'evento"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ShowEvent" />
        <activity
            android:name=".HomePage"
            android:label="Home page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavigationMenu"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateEvent"
            android:label="Crea un nuovo evento"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomePage"
            />
        <activity
            android:name=".SearchEvents"
            android:label="Cerca nuovi eventi"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomePage"/>
        <activity
            android:name=".ShowEventList"
            android:label="Lista degli eventi"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".SearchEvents" />
        <activity
            android:name=".CreateEvent2"
            android:label="Descrizione dell'evento"
            android:parentActivityName=".CreateEvent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowBookedUsersList"
            android:label="Lista dei partecipanti"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ShowEvent" />
        <activity
            android:name=".UserProfile"
            android:label="Profilo"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.andreea.eat_and_meet.UserProfile" />

        <activity
            android:name=".NotificationsPage"
            android:label="Notifiche"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomePage"/>

        <activity
            android:name=".ShowSearchedEvent"
            android:label="Eventi trovati"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"

            android:parentActivityName=".SearchEvents"/>
        <activity
            android:name=".RequestEvents"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".HomePage"/>
        <activity
            android:name=".AddProfilePhoto"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".LoggedProfile"
            android:label="Aggiungi foto"/>
        <activity
            android:name=".SearchedEventDetails"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ShowSearchedEvent"
            android:label="Aggiungi foto"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>